@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        <button data-followed-id="@Model.Gig.Artist.Id"
                class="btn btn-default
                btn-sm pull-right
                js-toggle-follows ">Follow
        </button>
    }
</h2>

<p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm") .</p>
    
@if (Model.IsAttending)
{
    <p>You are going to this event.</p>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.js-toggle-follows').click(function(e) {
                var followButton = $(e.target);

                $.post("/api/follows", { followedId: followButton.attr("data-followed-id") })
                    .done(function() {
                        followButton
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Followed");
                    })
                    .fail(function() {
                        alert("Cannot follow");
                    });
            });
        });
    </script>
}
