@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}


<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="pull-right-custom pull-right">
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm  js-toggle-attendance">Going ?</button>
                    <button class="btn btn-default btn-sm ">Follow</button>
                </div>
                
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.js-toggle-attendance').click(function (e) {
                var goingButton = $(e.target);

                $.post("/api/attendances", {gigId: goingButton.attr("data-gig-id")})
                .done(function() {
                    goingButton
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function() {
                    alert("Something failed!");
                });
            });
        });
    </script>
}